.basket-item-container {
  height: 85px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  padding: 16px 10px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.basket-item-img {
  height: 50px;
}

.basket-item-counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-item-name {
  font-size: .75rem;
  line-height: 16px;
  font-weight: 600;
  max-width: 200px;
  padding: 0 16px 0 0;
  margin-bottom: 8px;
  word-break: break-all;
  word-wrap: break-word;
}

.basket-item-price {
  line-height: 1;
  font-size: .8125rem;
  font-weight: 700;
  color: #e22e39;
}