.item-placeholder {
 background-color: red; 
 height: 100%;
 width: 49vw;
 grid-area: ItemPlaceholder; 
}

.item-filter {
  background-color: #f8f4f1;
  height: 15vh;  
}

.item-page-select {
  background-color: #f8f4f1;
  height: 5vh;
}