#ItemPlaceholder {
 background-color: red; 
 height: 100%;
 width: 49vw;
 grid-area: ItemPlaceholder; 
}

#Filter {
  background-color: #f8f4f1;
  height: 15vh;  
}

#PageSelect {
  background-color: #f8f4f1;
  height: 5vh;
}