.products-item-container {
  background-color: white;
  padding: 10px;
  border: 1px solid #e6e6e6;  
}

.products-button-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
}

.products-button {
  width: 100%;
  height: 32px;
  padding: 6px 12px;
  background-color: #e22e39;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.products-button:hover {
  filter: brightness(85%);
}

.products-item-name {
  height: 72px;
  margin-top: 6px;
  margin-bottom: 4px;
  line-height: 1.2;
  text-align: center;
  font-size: .9375rem;
  color: #3b3b3b;
}

.products-item-name:hover {
  color: #e22e39;
}

.products-item-price {
  color: #e22e39;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 2px;
}

.products-extra-price {
  text-align: center;
  font-size: .6875rem;
  font-weight: 600;
  line-height: 1.2;
  color: #e22e39;
}

.products-price-per-unit {
  text-align: center;
  font-size: .6875rem;
  line-height: 1.2;
  color: #999;
}

.products-item-img {
  width: 100%;
  cursor: pointer;
}